---
import "../styles/global.css";
import { Menu, X } from 'lucide-react';

const navItems = [
  { name: 'work', href: '#work' },
  { name: 'about', href: '#about' },
  { name: 'contact', href: '#contact' },
];


// Props interface
interface Props {
  title?: string;
}

const { title = "arjun bhogal" } = Astro.props;

---

<nav class="">
  <div class="max-w-8xl mx-auto sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Left side - Title -->
      <div class="flex-shrink-0 flex items-center">
        <a href={"/"} class="text-zinc-900 px-3 py-2 text-lg font-medium">{title}</a>
      </div>
      
      <!-- Right side - Desktop Navigation -->
      <div class="hidden sm:flex sm:items-center">
        <div class="ml-10 flex items-baseline space-x-8">
          {navItems.map(item => (
            <a 
              href={item.href} 
              class="text-zinc-900 px-3 py-2 text-lg font-medium"
            >
              {item.name}
            </a>
          ))}
        </div>
      </div>
      
      <!-- Mobile menu button -->
      <div class="flex items-center sm:hidden">
        <button 
          id="mobile-menu-button"
          class="inline-flex items-center justify-center p-2 rounded-md text-zinc-900 hover:text-zinc-950 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-zinc-500"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Menu id="menu-closed-icon" className="block h-6 w-6" />
          <X id="menu-open-icon" className="hidden h-6 w-6" />
        </button>
      </div>
    </div>
  </div>
  
  <!-- Mobile menu, hidden by default -->
  <div id="mobile-menu" class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {navItems.map(item => (
        <a 
          href={item.href} 
          class="text-gray-900 hover:text-gray-900 block px-3 py-2 rounded-md text-base font-medium"
        >
          {item.name}
        </a>
      ))}
    </div>
  </div>
</nav>

<script>
  // Add client-side interactivity
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const menuClosedIcon = document.getElementById('menu-closed-icon');
  const menuOpenIcon = document.getElementById('menu-open-icon');
  
  if (mobileMenuButton && mobileMenu && menuClosedIcon && menuOpenIcon) {
    mobileMenuButton.addEventListener('click', () => {
      const expanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';
      mobileMenuButton.setAttribute('aria-expanded', expanded ? 'false' : 'true');
      
      mobileMenu.classList.toggle('hidden');
      menuClosedIcon.classList.toggle('hidden');
      menuOpenIcon.classList.toggle('hidden');
    });
  }
</script>